.profileBlock {
    display: grid;
    grid-template-areas:
    "avatar description"
    "avatar contacts";
    grid-template-columns: 200px 650px;
    grid-template-rows: 130px 140px;
    grid-gap: 15px;
}

.avatar {
    grid-area: avatar;
    width: 150px;
    height: 150px;
}

.contactsContainer {
    grid-area: contacts;
    font-size: 13px;
}

.descriptionContainer {
    grid-area: description;
}

.wallpaper {
    width: 75%;
}

.descriptionBlock {
    padding: 15px 25px;
}
